@model PropertyAnalysisTool.Models.PropertyModel
@{
    ViewBag.Title = Model.Title;
}

<div class="row">
    @*Property Info*@

    <div class="calculator-container">
        <div class="col-lg-12 compare">
            <div class="thumbnail compare-property-details">
                <div class="details-image-container">

                    @{Html.RenderPartial("PropertyImageLargeSliderPartial", Model.Photos); }
                </div>
                <h2>@Model.Title</h2>
                <p>Listed: @Model.ListedDate</p>
                <p>@Model.PriceDisplay</p>
                <p>R.V: $@Model.RateableValue</p>
                <p></p>
                <div class="compare-property-description">
                    <p>@Model.Description</p>
                </div>
            </div>
        </div>
        <div class="col-lg-12 compare">
            <div class="thumbnail">

                <h3>Purchase Price</h3>
                @Html.EditorFor(property => property.Price)


                <h3>Gross Yield</h3>
                @Html.EditorFor(property => property.InitialYieldPercentage)

                <h3>Vacancy Rate in Weeks</h3>
                @Html.EditorFor(property => property.InitialVacancyRate)

                <h3>Rent To Achieve @*(@Html.DisplayFor(property => property.ProposedAnnualRentalIncome))*@</h3>
                @Html.EditorFor(property => property.InitialRent)


            </div>
        </div>

        <div class="col-lg-12 compare">
            <div class="thumbnail">
                <h3>Interest Rate</h3>
                @Html.EditorFor(property => property.InitialInterestRate)

                <h3>Yearly Interest</h3>
                @Html.EditorFor(property => property.AnnualInterestCost)
                <p>Purchase Price * Interest Rate</p>

                <h3>Rent to cover interest</h3>
                @Html.EditorFor(property => property.RentToCoverInterest)

                <h3>Surplus Per Week</h3>
                @Html.EditorFor(property => property.SurplusBeforeExpenses)
            </div>
        </div>

        <div class="col-lg-12 compare">
            <div class="thumbnail">
                <h3>Expenses</h3>

                <h3>Rates Annual</h3>
                @Html.EditorFor(property => property.InitialRates)
                <h3>Maintenance</h3>
                @Html.EditorFor(property => property.InitialRepairs)
                <h3>Insurance</h3>
                @Html.EditorFor(property => property.InitialInsurance)
                <h3>Property Management (8%)</h3>
                @Html.EditorFor(property => property.PropertyManagementAmount)
                <h3>Total Expenses</h3>
                @Html.EditorFor(property => property.TotalInitalExpense)

                <h3>Rent To Cover Mortgage and Expenses</h3>
                @Html.EditorFor(property => property.RentToCoverMortgageExpenses)

                <h3>Surplus After Expenses</h3>
                @Html.EditorFor(property => property.SurplusAfterExpense)

            </div>
        </div>
    </div>
</div>

