@model PropertyAnalysisTool.Models.PropertyFilterViewModel

<div class="property-filter">
    <div id="regions-container">
        <h3>Locations</h3>
        <p>
            @Html.DropDownListFor(m => m.SelectedLocationId, Model.Locations, new { @class = "form-control" })
        </p>
    </div>

    <div id="districts-container">
        <p>
            @Html.DropDownListFor(m => m.SelectedDistrictId, Model.Districts, new { @class = "form-control" })
        </p>
    </div>

    <div id="suburbs-container">
        <p>
            @Html.DropDownListFor(m => m.SelectedSuburbId, Model.Suburbs, new { @class = "form-control" })
        </p>
    </div>
    <div class="form-inline">
        <div id="bedrooms-container form-group">
            <h3>Bedrooms</h3>
            @Html.DropDownListFor(m => m.MinBedRoom, Model.BedroomsMin, new { @class = "form-control" })
            to
            @Html.DropDownListFor(m => m.MaxBedRoom, Model.BedroomsMax, new { @class = "form-control" })
        </div>

        <div id="bathrooms-container form-group">
            <h3>Bathrooms</h3>
            @Html.DropDownListFor(m => m.MinBathRoom, Model.BathroomsMin, new { @class = "form-control" })
            to
            @Html.DropDownListFor(m => m.MaxBathRoom, Model.BathroomsMax, new { @class = "form-control" })
        </div>

        <div id="price-container form-group">
            <h3>Price</h3>
            @Html.DropDownListFor(m => m.MinPrice, Model.PriceMin, new { @class = "form-control" })
            to
            @Html.DropDownListFor(m => m.MaxPrice, Model.PriceMax, new { @class = "form-control" })
        </div>
    </div>

</div>