@model PropertyAnalysisTool.Models.TradeMePropertyResultsViewModel

@{
    var rowCount = 0;
}
<div class="row">

    <input id="current-page" type="hidden" value="@Model.Page" />
    @if (Model.Properties.Any())
    {
        foreach (var property in Model.Properties)
        {


            <div class="col-lg-3 col-sm-6">
                <div class="zoom-container">
                    <div class="thumbnail property-listing">
                        <a href="@Url.Action("Details", "Home", new { id = property.ListingId }, null)">
                            <img class="prop-img" src="@property.PictureHref" />
                            <h4 class="prop-title">@property.Title</h4>

                            <p>@property.PriceDisplay</p>
                            <p>R.V: $@property.RateableValue</p>

                            <button type="button" class="btn btn-primary compare-button" value="@property.ListingId">Add To Compare List</button>


                        </a>


                    </div>
                </div>
            </div>
            rowCount++;


        }
        @*<div class="col-sm-12 pager">
                <ul class="list-inline">
                    @for (var i = 0; i < Model.TotalPages; i++)
                    {
                        <li>
                            <div class="col-sm-1">
                                @Html.ActionLink((i + 1).ToString(), "Index", "Home", new { page = i }, null)
                            </div>
                        </li>
                    }
                </ul>

            </div>*@
    }
    else
    {
        <div class="col-lg-12">
            <h3>No Results Sorry</h3>
        </div>
    }

</div>