@model PropertyAnalysisTool.Models.PropertyModel

<div class="col-sm-12 text-center">
    <h1>Property Analysis</h1>
</div>
<div class="col-lg-6">
    <div class="row">
        <div class="col-lg-12">
            <div class="thumbnail">

                <div class="details-image-container">

                    @if (Model.HasGallery)
            {
                Html.RenderPartial("PropertyImageLargeSliderPartial", Model.Photos);
            }
            else
            {
                        <img alt="No Image Present" />
                    }
                </div>
                <h2>@Model.Title</h2>

                <p>Listed: @Model.ListedDate</p>
                <p>@Model.FullAddress</p>
                <p>@Model.PriceDisplay</p>
                @if (!string.IsNullOrEmpty(Model.Bedrooms) || !string.IsNullOrEmpty(Model.Bathrooms))
            {
                    <p>Rooms: @Model.Bedrooms : @Model.Bathrooms</p>
                }

                <p></p>
                <p>@Model.Description</p>
            </div>
        </div>
    </div>
</div>